<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
</head>
<body>
    <h2>edit post</h2>
    <p>post id: <%=post.id %></p>
    <p>username: </p>
    <form action="">
        <textarea name="" id=""></textarea>
        <button>submit</button>
    </form>
</body>
</html>